{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <div class="listing_flex">
        <div class="active_listing">   
            {% if details.item_image %}
                <img src="{{ details.item_image.url }}" class="image" alt="{{ details.item }}">
            {% else %}
                <img src="{% static 'auctions/default.jpeg' %}" class="image" alt="{{ details.item }}">
            {% endif %}
        </div>
        <div class="active_listing">
            <div>
                {% if details.winner and user == details.winner %}
                    <h1> You won this auction! </h1>
                {% else %}
                    {% if details.is_closed == True %}
                        <h1> CLOSED </h1>
                    {% endif %}
                {% endif %}
                <h2> {{ details.item }} </h2>
                <h3> Price: ₹{{ details.price }} </h3>
                <h4> Category: {{ details.category_name.category_name }}</h4>
                <h4> Description: {{ details.description }}</h4>
                <h4> Auctions id: {{ details.list_id }} </h4>
                <h4> Listed by 
                {% if details.lister == user %} you
                {% else %} {{ details.lister.username }} </h4>
                {% endif %}
                <h5 class="less-focus"> Created {{ details.time_created }}</h5>
                {% if not is_in_watchlist %}
                    <a href="{% url 'add_to_watchlist' details.list_id %}">Add to watchlist</a>
                {% else %}
                    <a href="{% url 'remove_from_watchlist' details.list_id %}">Remove from watchlist</a>
                {% endif %}
            </div>
            <div>
                <br>
                <h3> Bids </h3>
                {% if message %}
                    {{ message }}
                {% endif %}
                {% if details.is_closed != True %}
                    {% if user != details.lister %}
                    <form action="{% url 'add_bid' details.list_id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="bid_value">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Place Bid">
                    </form>
                    {% endif %}
                {% endif %}
                <ul class="content_list">
                    {% if not details.bids.all %}
                        No bids yet.
                    {% endif %}
                    {% for bid in details.bids.all %}
                       <li> {{ bid.bidder.username }} bids ₹{{ bid.bid_value }} </li>
                    {% endfor %}
                </ul>
                {% if user == details.lister and details.bids and details.is_closed == False and details.bids.all %}
                    <a href="{% url 'close_bid' details.list_id %}">Close Bid</a>
                {% endif %}
            </div>
            <div>
                <h3> Comments </h3>
                <form action="{% url 'add_comment' details.list_id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="comment_data">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Comment">
                </form>
                <ul class="content_list">
                    {% if not comms %}
                        No comments yet.
                    {% endif %}
                    {% for comment in comms %}
                    <li>
                        {{ comment.commentor.username }}: {{ comment.comment_content }}<br>
                        <span class="less-focus"> {{ comment.time_created }} </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}