{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <div class="listing_flex">
        <div class="active_listing">
            {% if details.item_image %}
            <img src="{{ details.item_image.url }}" class="image" alt="{{ details.item }}">
            {% else %}
            <img src="{% static 'auctions/default.jpeg' %}" class="image" alt="{{ details.item }}">
            {% endif %}
        </div>
        <div class="active_listing">
            <h2> {{ details.item }} </h2>
            <h3> Price: ₹{{ details.price }} </h3>
            <h3> Category: {{ details.category_name.category_name }}</h3>
            <h4> Listed by {{ details.lister.username }} </h4>
            <h4> Created {{ details.time_created }}</h4>
            <h3> Description: </h3>
            <h4> {{ details.description }}</h4>
            <h3> Auctions id: </h3><h4> {{ details.list_id }} </h4>
            To see more information, please <a href="{% url 'login' %}">log in</a>
        </div>
    </div>
{% endblock %}